# TODO : remove/replace
allow init system_file:file execute_no_trans;

allow init sysfs_devices_tegradc:file relabelto;
allow init init:capability { sys_module };