allow kernel sysfs_devices_tegradc:dir relabelto;
allow kernel sysfs_devices_tegradc:file relabelto;
allow kernel sysfs_devices_tegradc:lnk_file relabelto;